:root {
    --body-bg-color:#d9faec;
    --Teal: #008080;
  }
  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     color:#008080;
  }

  body, html {
    background: var(--body-bg-color);
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
  }

  .tree-container .avatar {
    width: 213px;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--Teal);
    border-radius: 50%;  
  }

  .tree-container .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .tree-container .nome-empresa {
    margin-top: 15px;
    color: var(--Teal);
    font-size: 38px;
    text-align: center;  
  }

  .tree-container .links-container {
    margin: to 17px;
    display: flex;
    flex-direction: column;
  }

  .links-container .link {
    margin-top: 15px;
    width: 250px;
    border: 2px solid var(--Teal);
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 12px 0;
    transition: ease 0.3s;
    text-transform: uppercase;
  }

  .links-container .link:hover {
    background: var(--Teal);
    color: #d9faec;
    transition: ease 0.5s;
  }

  .tree-container .socials-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    }
    
    .socials-container .social {
    transform: scale(0.9);
    transition: ease 0.2s;
    }
    
    .socials-container .social:hover {
    transform: scale(1);
    }

    .socials-container .social img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    }

   /*-----------------------------------------------------------------------*/
    /*ABA CURSOS CREDENCIADOS*/

    .container-cursos {
    width: 100vw;
    height: 100vh;
    font-size: 38px;
    display:grid;
    align-items: center;
    justify-content: center;
    }

    .container-cursos .cursos-credenciados {
    color: var(--Teal);
    font-size: 38px;
    margin-left: 1%;
    margin-top: 15px; 
    }

    .cursos-credenciados .lista-curso-credenciados {
    margin-top: 10px;
    color: var(--Teal);
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;  
    }

    ul {
    margin-top: 10px;
    color: var(--Teal);
    font-size: 20px;
    padding-top: 10px;
    
    }

    p {
    margin-top: 20px;
    color: var(--Teal);
    font-size: 12px;
    }
    
    .presencial {
    border: 2px solid #008080;
    border-radius: 6px;
    background-color: #008080;
    font-size: 8px;
      
    color:#ddfdef;
    text-transform: uppercase;
    padding: 1px 0;
    }

  .online {
    border: 2px solid #2abd7d;
    border-radius: 6px;
    background-color: #2abd7d;
    font-size: 8px;
        
    color:#ddfdef;
    text-transform: uppercase;
    padding: 1px 0;
  }
        
        /*position:relative; 
        left: 190px;*/
        /*font-family: 'Dancing Script', cursiva;*/

