@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #008080;
}

body, html {
    background:#d9faec;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tree-container .avatar {
    width: 213px;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #008080;
    border-radius: 50%;
}

.tree-container .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.tree-container .nome-empresa {
    margin-top: 5px;
    color: var(--Teal);
    font-size: 45px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.tree-container .links-container {
    margin: to 17px;
    display: flex;
    flex-direction: column;
}

.links-container .link {
    margin-top: 10px;
    width: 280px;
    border: 2px solid #4dbf9e;
    background: #4dbf9e;
    color: #ecfff7;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 8px 0;
    transition: ease 0.3s;
}
      /*SUBSTITUIR O "HOVER"*/                             
.links-container .link:hover {   
    background: #d9faec;
    border: 2px solid #008080;
    color: #008080;
    transition: ease 0.5s;
}

.tree-container .socials-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.socials-container .social {
    transform: scale(0.9);
    transition: ease 0.2s;
}

.socials-container .social:hover {
    transform: scale(1);
}

.socials-container .social img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
}


/*-----------------------------------------------------------------------*/


/*CURSOS SENAR-MG*/

header h1 {
    width: 100vw;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #008080;
    color: #ecfff7;
}

section.container-cursos {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

h2 {
    background-color: #4dbf9e;
    color: #ecfff7;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

ul {
    padding: 2px;
    font-size: 15px;
    
}

section.container-cursos div.lista-presencial {
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

section.container-cursos div.lista-presencial.ativo {
    height: 140px;
    transition: 0.4s;
}

section.container-cursos div.lista-online {
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

section.container-cursos div.lista-online.ativo {
    height: 120px;
    transition: 0.4s;
}

section.container-cursos div.lista-presencial-online {
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

section.container-cursos div.lista-presencial-online.ativo {
    height: 110px;
    transition: 0.4s;
}
